<h1>PRISM</h1>
<p>GID GSR Mapping</p>
<button type="button" class="btn btn-default btn-sm" (click)="getSelectedRows()">
  <span class="glyphicon glyphicon-download-alt"></span> Download
</button>

<div style="float:right">
  <label class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-folder-open"></span>  Choose File
    <input type="file" (change)="incomingfile($event)" accept=".xlsx" class="inputfile">
  </label>
  <button type="button" class="btn btn-default btn-sm" (click)="upload()">
    <span class="glyphicon glyphicon-upload"></span> Upload
  </button>
</div>
<div style="margin-top:5px">
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 500px;"
                   class="ag-theme-balham"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [enableSorting]="true"
                   [enableFilter]="true"
                   rowSelection="multiple">
  </ag-grid-angular>
</div>
